@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.div-body {
  width: auto;
  position: relative;
  overflow-x: hidden;
}

.social-group {
  width: 40px;
  height: 50%;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}

.social-group-list {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.social-group-list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #ffffff;
}

.text-transform {
  text-transform: uppercase !important;
}

.text-center {
  text-align: center !important;
}
