.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(2, minmax(190px, 1fr));
  gap: 1rem 1rem;
  justify-content: center;
  //position: center;
}

.skills-cards-div {
  display: grid;
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  gap: 1rem 1rem;
  justify-content: center;
  //position: center;
}

.experience-holder{
  justify-content: center;
}

.experience-heading {
  font-size: 26px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
  max-width: 1140px;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
